@import '../../../../colors.scss';

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    .modal-content {
        background-color: $color-component;
        margin: 8% auto;
        padding: 40px;
        width: 33%;
    
        input, select {
            border: 1px solid $color-border-component;
            padding: 14px;
            background-color: $color-background-input;
        }
    
        .modal-picture {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .modal-picture-container {
                height: 127px;
                width: 127px;
                background-color: $color-gray-picture;
                border: 1px solid $color-gray-picture-border;
                border-radius: 50%;
                overflow: hidden;
    
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
    
            p {
                font-size: 14px;
            }
    
            #btn-picture {
                width: 30%;
            }
    
            .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
            }
    
            .custom-file-input::before {
                content: 'Subir foto';
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-component;
                background-color: $color-orange;
                cursor: pointer;
            }
    
            .custom-file-input {
                background-color: $color-orange;
                padding: 0px;
                outline: none;
                border: none;
                height: 38px;
                width: 40%;
                cursor: pointer;
            }
        }
    
        .modal-form {
            display: grid; 
            grid-column-gap: 25px; 
            grid-row-gap: 35px;
            grid-template-columns: auto auto;
    
            .form-control {
                width: 100%;

                input, select {
                    width: auto;
                }
    
                span {
                    color: $color-danger;
                    font-size: 13px;
                }
            }
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
          
    }

    .modal-actions {
        margin-top: 40px;
        border-top: 1px solid $color-border-component;
        padding-top: 25px;
        display: flex; 
        justify-content: flex-end;

        .btn {
            display: flex;
            justify-content: center;
            padding: 11px;
            align-items: center;
            cursor: pointer;
        
            &.btn--orange {
               background-color: $color-orange;
               color: $color-component;
            }
        
            &.btn--white {
                background-color: $color-component;
                color: $color-orange;
            }
        }
    }
}
