<div class="card">
    <div class="card-image-container">
        <img [src]="user.picture" [alt]="user.name" [title]="user.name"> 
    </div>
    <div class="container">
        <h4><b>{{ user.name }}</b></h4>
        <p>{{ user.email }}</p>
        <p>{{ user.roleName }}</p>
        <hr>
    </div>
    <div class="card-footer">
        <div>
            <div class="switch">
                <input type="checkbox" id="switch{{ user.email }}" class="switch__input" [checked]="user.active">
                <label for="switch{{ user.email }}" class="switch__label"></label>
            </div>
        </div>
        <div>
            <button class="btn icon-modify" alt="Modificar" title="Modificar"></button>
            <button class="btn icon-delete" alt="Eliminar" title="Eliminar" (click)="deleteUser()"></button>
        </div>
    </div>
</div>