@import '../../../../colors.scss';

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 239px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    word-wrap: break-word;

    .card-image-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-image-container img {
        margin-top: 20px;
        width: 94px; 
        height: 94px; 
        border-radius: 50%;
    }

    .container {
        padding: 2px 16px;

        hr {
            border-color: $color-border-component;
        }
    }
    
    .card-footer {
        display: flex;
        justify-content: space-around;
    }

    .btn {
        display: inline-block;
        width: 24px;
        height: 24px;
        filter: $color-orange-filter;
    }
    
    .btn.icon-modify {
        background-image: url('../../../../assets/img/web.svg');
    }

    .btn.icon-delete {
        background-image: url('../../../../assets/img/trash.svg');
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
