<div class="card">
    <div style="height: 135px;width: 100%;overflow: hidden;position: relative;">
        <img [src]="user.picture" [alt]="user.name" [title]="user.name" style="position: absolute;top: 50%;
        left: 50%; transform: translate(-50%, -50%);"> 
    </div>
    <div class="container">
        <h4><b>{{ user.name }}</b></h4>
        <p>{{ user.email }}</p>
        <p>{{ user.roleName }}</p>
        <hr>
    </div>
    <div class="card-footer">
        <div>
            <div class="switch">
                <input type="checkbox" id="switch{{ user.email }}" class="switch__input" [checked]="user.active">
                <label for="switch{{ user.email }}" class="switch__label"></label>
            </div>
        </div>
        <div>
            <span class="icon icon-modify" alt="Modificar" title="Modificar"></span>
            <span class="icon icon-delete" alt="Eliminar" title="Eliminar" (click)="deleteUser()"></span>

            <!-- <img src="../../../../assets/img/web.svg" alt="Modificar">
            <img src="../../../../assets/img/trash.svg" alt="Eliminar usuario" (click)="deleteUser()"> -->
        </div>
    </div>
</div>