<div id="container-header">
    <div>
        <h3>Usuarios</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <div class="container-button">
        <a id="btn-show" class="btn btn--white">
            <span class="icon icon-preview" alt="Previsualizar" title="Previsualizar"></span>
            <span>Previsualizar</span>
        </a>
        <br>
        <a id="btn-add" class="btn btn--orange" (click)="showAddDialog()">
            <span class="icon icon-newuser" alt="Nuevo usuario" title="Nuevo usuario"></span>
            <span>Agregar nuevo usuario</span>
        </a>
    </div>
</div>
<br>
<app-dialog-add-user  (userToSave)="saveUser($event)" (closeDialog)="clickProduct($event)" *ngIf="showDialodAddUser"></app-dialog-add-user>