@import '../../../../colors.scss';

#container-header {
    background-color: $color-component;
    border: 1px solid $color-border-component;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;

    .container-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            display: flex;
            justify-content: center;
            padding: 11px;
            align-items: center;
            cursor: pointer;
        
            &.btn--orange {
               background-color: $color-orange;
               color: $color-component;
            }
        
            &.btn--white {
                background-color: $color-component;
                border: 1px solid $color-orange;
                color: $color-orange;
            }
        }        

        .icon {
            width: 24px;
            height: 24px;
        }

        .icon.icon-preview {
            background-image: url('../../../../assets/img/eye.svg');
            filter: $color-orange-filter
        }
        
        .icon.icon-newuser {
            background-image: url('../../../../assets/img/add.svg');
            filter: invert(1);
        }
    }

    div {
        padding: 16px;
    }
    
    h3 {
        color: $color-black;
    }
    
    p {
        color: $color-gray;
    }
}
