<app-nav (addUser)=updateListUser($event)></app-nav>
<div id="container-search">
    <div>
        <form #searchForm="ngForm" class="container-search">
            <div style="position: relative;">
                <input id="searchByName" name="searchByName" #searchByName="ngModel" [(ngModel)]="formData.searchByName" type="text" placeholder="Búsqueda">
                <span class="icon-search" alt="Búscar" title="Búscar"></span>
            </div>
            <div>
                <select name="" id="">
                    <option value="">8 por página</option>
                </select>
            </div>
            <div>
                <select id="orderByName" name="orderByName" placeholder="Nombre" #orderByName="ngModel" [(ngModel)]="formData.orderByName">
                    <option [ngValue]="0">Ordernar de A-Z</option>
                    <option [ngValue]="1">Ordernar de Z-A</option>
                </select>
            </div>
            <div>
                <select id="orderByStatus" name="orderByStatus" #orderByStatus="ngModel" [(ngModel)]="formData.orderByStatus">
                    <option [ngValue]="0">Todos</option>
                    <option [ngValue]="1">Activo</option>
                    <option [ngValue]="2">Inactivo</option>
                </select>
            </div>
            <button class="icon icon-list" alt="Mostrar en tabla" title="Mostrar en tabla" (click)="showTableFormate()"></button>
            <button class="icon icon-square" alt="Mostrar en tarjeta" title="Mostrar en tarjeta" (click)="showCardFormate()"></button>
        </form>
    </div>
    <div id="container-table-result" *ngIf="displayDataTableFormat">
        <table id="tb_user">
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Apellido paterno</th>
              <th>Apellido materno</th>
              <th>Correo</th>
              <th>Rol</th>
              <th>Estatus</th>
              <th></th>
            </tr>
            <tbody id="table-body">
                <tr *ngFor="let userItem of users | tableFilterOrderName: formData.orderByName |tableFilterName: formData.searchByName | tableFilterStatus: formData.orderByStatus ; let i = index">
                    <td><img [src]="userItem.picture" [alt]="userItem.name" [title]="userItem.name" class="img-table"></td>
                    <td>{{ userItem.name }}</td>
                    <td>{{ userItem.fathersLastName }}</td>
                    <td>{{ userItem.mothersLastName }}</td>
                    <td>{{ userItem.email }}</td>
                    <td>{{ userItem.roleName }}</td>
                    <td>
                        <div class="switch">
                            <input type="checkbox" id="switch{{i}}" class="switch__input" [checked]="userItem.active">
                            <label for="switch{{i}}" class="switch__label"></label>
                        </div>
                    </td>
                    <td>
                        <button class="button-action update" title="Modificar"></button>
                        <button class="button-action delete" title="Eliminar" (click)="userDelete(userItem.email)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="container-card-result" *ngIf="!displayDataTableFormat">
        <div class="container-card-element">
            <app-user-card  *ngFor="let userItem of users  | tableFilterOrderName: formData.orderByName |tableFilterName: formData.searchByName | tableFilterStatus: formData.orderByStatus;" [user]="userItem"></app-user-card>
        </div>
    </div>
</div>