@import '../../../../colors.scss';

.img-table {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#container-card-result {
    .container-card-element {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 64px;
    }
}

#tb_user {
    width: 100%; 
    text-align: center;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
}

.icon.icon-list {
    background-image: url('../../../../assets/img/list.svg');
    
    &:hover,
    &:focus {
        filter: $color-orange-filter;
    }
}

.icon.icon-square {
    background-image: url('../../../../assets/img/square.svg');
    
    &:hover,
    &:focus {
        filter: $color-orange-filter;
    }
}

#container-search {
    background-color: $color-component;
    border: 1px solid $color-border-component;
    
    .container-search {
        padding: 20px 64px;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        input, select {
            border: 1px solid $color-border-component;
            padding: 14px;
            background-color: $color-background-input;
        }

        span {
            cursor: pointer;
        }

        input:first-child {
            padding-left: 45px;
        }

        .icon-search {
            display: inline-block;
            position: absolute;
            width: 24px;
            height: 24px;
            background-size: cover;
            top: 13px;
            left: 10px;
            background-image: url('../../../../assets/img/search.svg');
            filter: $color-orange-filter;
        }
    }

    #container-table-result {
        overflow-x: auto;

        table,  tr {
            border: 1px solid $color-border-component;
            border-collapse: collapse;
            height: 64px;
        }
    }
}

.button-action {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-size: 15px 15px;
    cursor: pointer;

    &:hover {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
}

.button-action.update {
    background-image: url('../../../../assets/img/web.svg');
}

.button-action.delete {
    background-image: url('../../../../assets/img/trash.svg');
}