@import '../../../../colors.scss';

.img-table {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#container-card-result {
    .container-card-element {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto auto;
    }
}

#tb_user {
    width:100%; 
    text-align: center;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-list {
    background-image: url('../../../../assets/img/list.svg');
    
    &:hover,
    &:focus,
    &:active {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
}

.icon-square {
    background-image: url('../../../../assets/img/square.svg');
    
    &:hover,
    &:focus,
    &:active {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
}

#container-search {
    background-color: $color-component;
    border: 1px solid $color-border-component;
    
    .container-search {
        padding: 20px 0px;
        display: flex;  
        justify-content: space-around;
        align-items: center;

        input, select {
            border: 1px solid $color-border-component;
            padding: 14px;
        }

        span {
            cursor: pointer;
        }

        input:first-child {
            padding-left: 45px;
        }

        .icon-search {
            display: inline-block;
            position: absolute;
            width: 24px;
            height: 24px;
            background-size: cover;
            top: 13px;
            left: 10px;
            background-image: url('../../../../assets/img/search.svg');
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
        }
    }

    #container-table-result {
        overflow-x: auto;

        table,  tr {
            border: 1px solid $color-border-component;
            border-collapse: collapse;
            height: 64px;
        }
    }
    
}